body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 1em;
    background-image: url('210214nekonohi1_.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2 {
    color: #333;
    font-family: 'Georgia', serif;
}

p {
    margin-bottom: 1em;
}

form {
    margin: 2em 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form label,
form input,
form button {
    display: block;
    margin: 0.5em 0;
}

form input {
    padding: 0.5em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

form a {
    display: inline-block;
    margin-top: 1em;
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

nav a {
    color: #007bff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
